{% extends "EspritMoocBundle::Layout.html.twig" %}
{% block content %} 
    <br><br>
    <section id="error" class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4>404, Page not found</h4>
                    {% if message is defined %}
                        <h4>     <p>    {{ message }} </p></h4><br><br>
                    {% else %}
                        <h2>    <p>The Page you are looking for doesn't exist or an other error occurred.</p></h2>
                    {% endif %}

                    {% if error is defined %}
                        <h4>     <p>   {{ error }} </p></h4><br><br> 
                    {% else %}
                        <h4>    <p></p></h4><br><br>
                    {% endif %}


                    {% if message is defined %}
                        <a class="btn-primary" href="{{ path('apprenant_bibliotheque') }}">GO BACK TO BIBLIOTHEQUE</a>
                    {% else %}
                        <a class="btn-primary" href="{{ path('esprit_mooc_home') }}">GO BACK TO THE HOMEPAGE</a>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <img src="{{asset ('uploads/discipline/logo/404.png')}}">
                </div>
            </div>
        </div>
    </section><!--/#error-->
{% endblock %}