{% block content %} 
      <script src="{{asset ('bundles/espritmooc/js/jquery.js')}}"></script>
<section id="portfolio">
    <div class="container">
    
    <div class="container conteneur-page-invitation" id="div-apprenant">
	<br>
             <div class="conteneur-msg">
       <div class="span12">
            <div class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="form-control" placeholder="Search" name="nom" id="nom">
                <script type="text/javascript">
      $(document).ready(function(){
      $('#nom').keypress(function() {
          nom =$('#nom').val();
       $.ajax({
            method: "POST",
            url: "{{ path('rechercher_apprenant')}}",
            data: { nom: nom },
            beforeSend: function () {
                      console.log("ça charge"); 
                    },
            success: function (data) {
                 console.log("ok ok ") ;
                   $('#page').hide();
                   $('#page-2').html(data);
                    
                            
                    }
              });
                    });
      });
</script>
                </div>
            </div>
        </div>
        </div>
      
        <div class="col-md-12">
            {%for a in pagination%}
            
                             <div class="col-sm-6 col-md-4">
                                  <div class="thumbnail">
                           
                           <img src="{{asset('uploads/userPhoto/' ~ a.userPhoto.path )}}" alt="website template image" class="img-responsive"/>
                               
                             
                                   
                                    <h2><p><i class="fa fa-user"></i> <small><a href="{{ path('fos_user_profile_show_with_id',{id:a.id})}}">{{a.username}}</a></p></h2>
                                  {% if(a.enabled=='1')%} 
                                        <h3> <a href="{{ path('disable_apprenant',{id:a.id})}}"><i class="glyphicon glyphicon-lock"></i></a></h3>
                                    {%endif %}
                                   {% if(a.enabled=='0')%} 
                                        <h3> <a href="{{ path('enable_apprenant',{id:a.id})}}"><i class="glyphicon glyphicon-ok"></i></a></h3>
                                    {%endif %}
       

                          
                                    
                                  </div>
                             </div>
                        
            
            {%endfor %}
             </div>
    </div>
             
             <div id="page-2"></div>
</div>
		  
    <!-- Footer -->
		    <!-- Fin Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
	 <!-- /.modal -->
		    
		<!-- /.container -->
        <div class="text-center" style="">
                    <ul class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </ul>
                </div>
        
        </section>	
{% endblock %}