{% extends "EspritMoocBundle::Layout.html.twig" %}
{% block content %}
   <script src="{{asset ('bundles/espritmooc/js/jquery.js')}}"></script>
   <section id="portfolio">
    <div class="container" id="div-apprenant">
        <div id="page-2"></div>
    <div class="container conteneur-page-invitation" >
	 
	<div class="conteneur-msg">
       <div class="span12">
            <div id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="form-control" placeholder="Search" name="nom" id="nom">
                    <script type="text/javascript">
      $(document).ready(function(){
      $('#nom').keyup(function() {    
        
          nom =$('#nom').val();
       $.ajax({
            method: "POST",
            url: "{{ path('rechercher_formateur')}}",
            data: { nom: nom },
            beforeSend: function () {
                      console.log("ça charge"); 
                    },
            success: function (data) {
                 console.log("ok ok ") ;
                    $('#page').hide();
                    $('#page-2').html(data);
             
                    
                            
                    }
              });
                    });
      });
</script>
                </div>
            </div>
        </div>
        </div>

		 <div class="col-md-12">
            {%for f in pagination%}
	
            {%for i in information %}
                {%if f.id==i.formateur.id and f.locked=='0'%}  
                             <div class="col-sm-6 col-md-4">
                                  <div class="thumbnail">
                           
                           <img src="{{asset('uploads/userPhoto/' ~ f.userPhoto.path )}}" alt="website template image" class="img-responsive"/>
                           
                          
                                   
                                    <h2><p><i class="fa fa-user"></i> <small><a href="{{ path('fos_user_profile_show_with_id',{id:f.id})}}">{{f.username}}</a></small></p></h2>
                                 
                              <h3>Specialite : </h3> {{i.specialite}} 
                               <h3>Site Web : </h3>{{i.siteWeb}}
                           
                                    {% if(f.enabled=='1')%} 
                                        <h3> <a href="{{ path('disable_formateur',{id:f.id})}}"><i class="glyphicon glyphicon-lock"></i></a></h3>
                                    {%endif %}
                                   {% if(f.enabled=='0')%} 
                                        <h3> <a href="{{ path('enable_formateur',{id:f.id})}}"><i class="glyphicon glyphicon-ok"></i></a></h3>
                                    {%endif %}
       

                          
                                    
                                  </div>
                             </div>
                      {%endif %}  
             {%endfor %}
            {%endfor %}
             </div>
		  
            
    <!-- Footer -->
		    <!-- Fin Footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
         </div> <!-- /.modal -->
		    
		</div><!-- /.container -->
      
         <div class="text-center" style="">
                    <ul class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </ul>
                </div>
        </section>	
{% endblock %}