{% extends "EspritMoocBundle::Layout.html.twig" %}
{%  block titre %} Sujet {% endblock %}
{% block content %}
    <script src="{{asset ('bundles/espritmooc/js/jquery.js')}}"></script>
    <script src="{{asset ('bundles/espritmooc/ckeditor/ckeditor.js')}}"></script>
    {% set i=sujet.nombreJaime+1 %}

    <script>
        function notification()
        {

            $("#like").attr("style", "color:#4A4646;");
            $("#like").attr("onclick", "");
            $("#nombreJaime").html("{{i}}");

        {#  $("#numbernotif").html("&nbsp&nbsp&nbsp");#}
                jQuery.ajax({
                    type: 'GET',
                    url: '{{ path('like_sujet',{idSujet:sujet.id}) }}',
                    success: function (data) {
                    }});
            }
            function notification2()
            {

                $("#alert").attr("class", "alert alert-success");


            }
    </script>



    <div class="container col-md-offset-1" style="margin-top: 35px">
        <div class="page-header page-heading">
            <h1 class="pull-left">Forums</h1>
            <ol class="breadcrumb pull-right where-am-i">
                <li><a href="{{ path('forum',{idDiscipline:sujet.idForum.idDiscipline.idDiscipline}) }}">Forums</a></li>
                <li class="active"><a href="{{ path('mes_sujets') }}">Mes sujets</a></li>
                <li class="active"><a href="{{ path('mes_interventions') }}">Mes interventions</a></li>
                <li class="active"><a href="">Mes notifications</a></li>
            </ol>


            <div class="col-md-offset-9">

                <ul>

                </ul>
                <ul class=" pagination">
                    <form role="form" action="{{ path('chercher_forum') }}" method="POST">
                        <input type="text" class="form-control " autocomplete="off" placeholder="Search Here" name="nomForum">
                    </form> 
                    {{ knp_pagination_render(messages) }}
                </ul>  
            </div>

            <div class="clearfix"><legend><b>  {{ sujet.titreSujet }}</b></legend>  <a href="#publier" class=" pull-right btn-primary"style="background-color: #0097A7;">Publier</a></div>

        </div>

        <p class="lead"><a href=""><small>{{ sujet.titreSujet }}</a><br>Le {{ sujet.datePublicationSujet|date("m/d/Y") }}<br>
                {% if sujet.etatSujet=='1' %}
                <i class="fa fa-pencil-square-o"  ></i>  Derniére modification {{ sujet.dateModificationSujet|date("m/d/Y") }}
            {% endif %}
            </small></p>

        <table class="table forum table-striped">
            <thead>
                <tr>
                    <th class="cell-stat"></th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">
                        Sujet
                    </th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Topics</th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
                    <th class="cell-stat-2x hidden-sm hidden-sm"> Date</th>
                </tr>
            </thead>
            <tbody>
                {#    {% for sujet in sujets %}#}
                <tr>
                    <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                    <td style="margin-right: 500px;">
                        <h4><a href="{{ path('afficher_sujet',{idSujet:sujet.id}) }}">{{ sujet.titreSujet }}</a><br><br><small>{{ sujet.descriptionSujet | raw }}<br><br>

                                {% if  app.security.getToken().getUser().getUsername() == sujet.idApprenant%}
                                    <a href=""> <i class="fa fa-pencil-square-o fa-2x"  data-toggle="modal" data-target="#myModalUpdate"></i></a><br>
                                    <a href=""  >  <i class="fa fa-trash-o fa-2x" data-toggle="modal" data-target="#myModal"></i></a><br>
                                    <a id=""><i   onclick="notification()"  id="like" class="fa fa-thumbs-o-up fa-2x"></i></a>   <label id="nombreJaime">{{ sujet.nombreJaime }}</label>

                                {% endif %}

                                <br><br></small></h4>
                    </td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">9 542</a></td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">89 897</a></td>
                    <td class="hidden-xs hidden-sm">by <a href="#">{{ sujet.idApprenant.username }}</a><br><small><i class="fa fa-clock-o"></i> {{ sujet.datePublicationSujet|date("m/d/Y") }}</small></td>
                </tr>
            <table class="table forum table-striped">
                <thead>
                    <tr>
                        <th class="cell-stat"></th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">
                            Open discussion
                        </th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Topics</th>

                        <th class="cell-stat-2x hidden-xs hidden-sm">Date </th>
                    </tr>
                </thead>
                <tbody>
                    {% set i=1 %}
                    {% for message in messages %}
                        <tr>
                            <td class="text-center"><i class="fa fa-magic fa-2x text-primary"></i></td>
                            <td style="margin-right: 500px;">
                                <h4><a href="">{{ message.titreMessage }}</a><br><br><small>{{ message.contenuMessage | raw }}<br><br><br>

                                        {% if  app.security.getToken().getUser() == message.idUtilisateurMessage%}
                                            <a href=""> <i class="fa fa-pencil-square-o fa-2x"></i></a><br>
                                            <a href="">  <i class="fa fa-trash-o fa-2x"  data-toggle="modal" data-target="#myModal{{i}}"></i></a>
                                            {% endif %}
                                        <br></small></h4>
                            </td>
                            <td class="text-center hidden-xs hidden-sm"><a href="#">9 542</a></td>

                            <td class="hidden-xs hidden-sm">by <a href="#">{{ message.idUtilisateurMessage.username }}</a><br><small><i class="fa fa-clock-o"></i> {{ message.datePublicationMessage|date("m/d/Y") }}</small></td>
                        </tr>

                    <div class="modal fade" id="myModal{{i}}" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Supprimer</h4>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('supprimer_message',{idMessage:message.id}) }}" class=" btn-primary">Delete</a>
                                    <button type="button" class=" btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set i=i+1 %}
                {% endfor %}
                </tbody>
            </table>
            </tbody>
    </div>
    <div class="text-center" style="">
        <ul class="pagination">
            {{ knp_pagination_render(messages) }}
        </ul>
    </div>
        <div class="container "  style="margin-left: 30px;">
        <div id="publier">
            <div id="">
                <br><br><br><br><br>
                <div class="col-md-7 col-md-offset-1" id="">
                    <form class="form" method="post"  role="form" action="{{ path('ajouter_message',{idSujet:sujet.id}) }}">
                        <legend><b>Publier</b></legend><br>
                        <div class="col-md-6 ">
                            <input type="text" class="form-control" placeholder="titre message..."  name="titreMessage" required><br>
                        </div><br><br><br>
                        <textarea class="ckeditor" rows="10" name="contenuMessage" required></textarea><br>
                        <input type="submit" class="btn-primary pull-right" value="Envoyer" >
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Supprimer</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <a href="{{ path('supprimer_sujet',{idSujet:sujet.id}) }}" class=" btn-primary">Delete</a>
                    <button type="button" class=" btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="myModalUpdate" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modifier</h4>
                </div>
                <div class="modal-body">
                    <form class="form" method="post" action="{{ path('modifier_sujet',{idSujet:sujet.id}) }}">
                        <label class="pull-left"> titre Sujet</label>
                        <input type="text" class="form-control" value="{{sujet.titreSujet}}" required name="titreSujet"><br>
                        <label class="pull-left"> sous-titre Sujet</label>
                        <input type="text" class="form-control" value="{{sujet.titreSujet}}" required name="sousTitreSujet"><br>
                        <textarea class="ckeditor" rows="10" name="contenuSujet" value="" >{{ sujet.descriptionSujet }}</textarea><br>
                        <input type="submit" class=" pull-left btn-primary" value="Modifier">
                    </form><br>
                    {#  <a href="{{ path('supprimer_message',{idMessage:message.id}) }}" class=" btn-primary">Envoyer</a>#}

                </div>
                <div class="modal-footer">
                    <button type="button" class=" btn-primary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}