{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}<legend><b> Changing Password  </b></legend><br>
{{ form_widget(form.current_password, {'attr': {'class': 'form-control input-lg','placeholder':'Current Password'}}) }}<br>
<span class="field">{{ form_errors(form.current_password) }}</span>
{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-lg','placeholder':'New Password'}}) }}<br>
<span class="form_error_field">{{ form_errors(form.plainPassword.first) }}</span>
{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-lg','placeholder':'New Password Confirmation'}}) }}<br>
<span class="form_error_field">{{ form_errors(form.plainPassword.second) }}</span>
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }} " class="btn-primary" />
</div>
{{ form_end(form) }}
