{% extends "EspritMoocBundle::Layout.html.twig" %}
{% block  titre %} {{ chapitre.titreChapitre }}{% endblock %}
{% block content %} 
    <style>
        .not-active {
            pointer-events: none;
            cursor: default;

        }
    </style>
    <br/><br/><br>
    <div class="col-md-6 col-md-offset-1">
        <a href="{{ path('esprit_mooc_home')}}"><small>Acceuil &nbsp;</small> </a><i class="fa fa-caret-right"></i> 
        <a href="{{path('esprit_mooc_cours')}}"><small>&nbsp; Cours &nbsp;</small> </a><i class="fa fa-caret-right"></i> 
        <a href="{{ path('esprit_mooc_details_cours',{idCours:chapitre.idCoursChapitre.idCours})}}"><small>&nbsp; {{ chapitre.idCoursChapitre.titreCours }} &nbsp;</small></a></a><i class="fa fa-caret-right"></i>
    <small>&nbsp; {{ chapitre.titreChapitre }} &nbsp;</small>
</div><br><br>
<nav class="navbar navbar-inverse" role="banner" style="    background-color: rgba(236,236,236,1); box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.61);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2 style="color: #333;">  <a class="navbar-brand" href="{{path('esprit_mooc_cours')}}"></a>{{ chapitre.titreChapitre }}</h2>
        </div>

    </div><!--/.container-->
</nav>
<nav class="navbar navbar-inverse" role="banner" style=" min-height: 5px; height: 35px;   background-color: rgb(155, 154, 154); box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.61);    
     margin-left: -100px;">
    <div class="container" style="margin-top: -25px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 style="color: #FFF;"> <i class="fa  fa-signal"> </i>&nbsp;<small style="color: white;">{{ chapitre.niveauChapitre }}</small> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" onclick="return false;"style="color:  white;" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o" ></i>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-clock-o"></i><small style="color:  white;">   {{ chapitre.dureeChapitre }} heurs </small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-video-camera"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {%if chapitre.idQuizzChapitre is not null %}
                    <i class="fa fa-trophy" ></i>&nbsp;&nbsp;&nbsp;&nbsp;
                {% else %}

                    <i class="fa fa-trophy"style="color: rgba(243, 243, 243, 0.55);" title="aucun trophé pour aujourd'hui"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
                <i class="fa fa-book" title="ce cous est disponible en document pdf"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" onclick="return false;"style="color:  white;" >
                    <i class="fa fa-check"  title="ce cours est certifié de la part de l'equipe world elephent, bonne lecture"></i> <small style="color: white;" >Certifier par World Elephent</small>
                </a>
                <a class="navbar-brand" href="">
                </a>
            </h3>
        </div>
    </div><!--/.container-->
</nav>
<section id="blog" class="container">
    {#        <div class="center">
                <div class="get-started center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                  
                    <p class="lead" style="padding: 20px;"><br>{{ chapitre.introductionChapitre }} </p>
                    <div class="request">
                        <h4><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp Elephent Word &nbsp&nbsp&nbsp&nbsp&nbsp</a></h4>
                    </div>
                </div>
                <h2> </h2>
                <p class="lead"></p>
            </div>#}
    {% if app.request.get('notice') =='error' %}
        <div class="alert alert-danger col-md-10 ">
            <center>    <b> Il y'a des chapitre que vous n'avez pas terminer, vous devez les achevés d'abord</b></center>
        </div>
    {% endif %}
    <ul class="portfolio-filter text-center">
        {% set class='' %}
        {% set icon='' %}
        {% set v=1 %}
        {% set suivant=null %}
        {% set k=1 %}
        <li style="margin: -10px;">
            <a class="btn btn-default" href="{{ path('esprit_mooc_details_cours',{idCours:chapitre.idCoursChapitre.idCours})}}"><i class="fa fa-home fa-2x"></i></a>
        </li>
        {% for chap in chapitres %}
            {% if chap.idChapitre==chapitre.idChapitre %}
                {% set class='active' %}

            {% endif %}

            <li style="margin: -10px;">
                <a class="btn btn-default {{class}}" href="{{ path('afficher_chapitre',{idChapitre:chap.idChapitre,idCours:chap.idCoursChapitre.idCours}) }}" data-filter="*">
                    <i class="
                       {% if progressions is not null %}
                           {% for progression in progressions %}
                               {% if progression is not null %}
                                   {% if progression.idChapitreProgression.idChapitre==chap.idChapitre %}
                                       fa fa-check
                                   {% endif %}
                               {% endif %}
                           {% endfor %}
                       {% endif %}
                       ">
                    </i>&nbsp;<small title="{{ chap.titreChapitre }}">Chapitre {{v}}</small> </a></li>
                    {% if chap.idQuizzChapitre is not null %}
                        {% for p in progressions %}
                            {% if p.idChapitreProgression is not null %}
                                {% if p.idChapitreProgression.idChapitre==chap.idChapitre %}
                            <li style="margin: -10px;">
                                <a href="{{ path('afficher_quizz_chapitre',{idChapitre:chap.idChapitre}) }}" class="btn btn-default"><i class="fa fa-trophy"></i></a>
                            </li>
                        {% endif %}
                    {%else%}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% set class='' %}
            {% if k==2 %}
                {% set suivant=chap %}
            {% endif %}
            {% set k=k+1 %}
            {% set v = v+1 %}
        {% endfor %}
        {% if chapitre.idCoursChapitre.idQuizzCours is not null %}
            <li style="margin: -10px;">
                <a  href="{{ path('afficher_quizz_cours',{idcours:chapitre.idCoursChapitre.idCours}) }}" class="btn btn-default"><i class="fa fa-trophy fa-2x"></i></a>
            </li>
        {% endif %}


        {% set next=null %}
        {% set this='false' %}

        {% for chap in chapitres %}
            {% if this=='true' %}
                {% set next=chap %}
                {% set this='false' %}
            {% endif %}
            {% if chap.idChapitre==chapitre.idChapitre %}
                {% set this='true' %}
            {% endif %}
        {% endfor %}<br><br>

    </ul>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">

                    <div class="embed-responsive"  style="background-color: black;"    >
                        <video width="100%" height="350" controls   class="embed-responsive-item">
                            <source src="{{asset('uploads/video/chapitre/' ~ chapitre.cheminVideoChapitre )}}" type="video/mp4">
                        </video>
                    </div>
                    <br>
                    <div class="row">  
                        <div class="col-xs-12 col-sm-2 text-center">
                            <div class="entry-meta">
                                <span id="publish_date"  style=" background-color: #007986; color:  white"><i class="fa fa-calendar"> {{chapitre.dateAjout|date('d') }}{{chapitre.dateAjout|date('F') }}{{chapitre.dateAjout|date('Y') }}</i></span>
                                <span id="" style="background-color: #007986; color:  white;"><center><i class="fa fa-clock-o"></i> <a href="#" style="color: white"> {{chapitre.dureeChapitre}} heurs</a></center></span>
                                <span style="background-color: #007986; color:  white"><center><i class="fa  fa-signal"></i> <a href=""  style="color: white"> {{chapitre.niveauChapitre }}  </a></center></span>
                                        {% if progression is not null %}
                                    <span  style="    background-color: #007986;   color:  white"><center><i class="fa fa-trophy"></i><a href="" data-toggle="modal" data-target="#myModal"  style="color: white"> Quizz</a></center></span>
                                            {% endif %}
                                            {% if progression is null %}
                                    <span  style="    background-color: #333;; "><center><i class="fa fa-trophy"></i><a   disabled  style="color: #888"> Quizz</a></center></span>
                                            {% endif %}
                                            {% if progression is null %}
                                    <span style=" background-color: #333;"><center><i class="fa fa-file-text"></i><a href="#" class="not-active" title="Vous devez d'abord terminer ce chapitre" > Telecharger</a></center></span>
                                            {% else %}
                                    <span  style="background-color: #007986;"><center><i class="fa fa-file-text"></i><a  style="color: white; " href="#telechargement" class="" > Telecharger</a></center></span>
                                            {% endif%}
                            </div>
                        </div>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ chapitre.titreChapitre }}</h4>
                                    </div>
                                    <form action="{{ path('afficher_quizz_chapitre',{idChapitre:chapitre.idChapitre}) }}">
                                        <div class="modal-body" style="      padding-bottom: 0px; ">
                                            <input type="checkbox" required >I have read and agree to <a>the Terms and Conditions</a><br><br><br>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn-primary" value="Suivant">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="post-tags">
                            {% if progression is not null %}
                                <div class="alert alert-success col-xs-12 col-sm-8">
                                    <h6><b>  Felicitation, vous avez terminer ce chapitre...<a href="#telechargement">Telecharger?</a> </b></h6>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-xs-12 col-sm-10 blog-content media reply_section"><br>
                            <h2>{{ chapitre.titreChapitre }}</h2>
                            {{ chapitre.descriptionChapitre | raw }}
                        </div>
                    </div>
                </div><!--/.blog-item-->

                <div class="media reply_section">
                    <div class="pull-left post_reply text-center">
                        <a href="#"><img src="{{asset('uploads/userPhoto/' ~ chapitre.idCoursChapitre.idFormateurCours.userPhoto.path )}}" class="img-circle" alt="" /></a>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                        </ul>
                        <br><br>
                    </div>



                    <h3><strong>Ce Chapitre à etait publier de la part du Professeur  <a href="{{ path('fos_user_profile_show_with_id',{id:chapitre.idCoursChapitre.idFormateurCours.id}) }}">{{chapitre.idCoursChapitre.idFormateurCours.username}}</a></strong></h3>
                    <p class="lead"></p>
                    <p><strong>Web:</strong> <a href="http://www.shapebootstrap.net">{{chapitre.idCoursChapitre.idFormateurCours.informationFormateur.siteWeb}}</a></p>
                </div>



                <div class="media reply_section">
                    <div class="media-body post_reply_content">
                        <h3><b>Objectif </b></h3></b>
                        {{  chapitre.objectifChapitre | raw}}
                    </div>
                </div> 
                <br>

                <div class="alert alert-success">
                    <div class="media-body post_reply_content">
                        <h3><b>Prerequis </b></h3>
                        {#{{  cours.prerequisCours | raw }}#} <h3> {{  chapitre.objectifChapitre | raw}} </h3><br><br>
                    </div> 
                </div>
                {% if app.user %}
                    <div class="col-md-10">
                        {{ chapitre.contenuChapitre | raw}}
                        <br><br>
                    </div>
                {% else %}
                    <br><br><br>
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Hey !</strong> Vous avez aimez ce cours, Inscrivez vous d'abord ! <a href="{{ path('fos_user_security_login') }}">cliquez içi</a>
                    </div>
                {% endif %}
                {% if app.user %}
                    {% if progression is null %}
                        {% if next is not null %}

                            <legend></legend>
                            <div id="Suivant">
                                <div class="col-md-10 col-md-offset-0" >
                                    <form action="{{ path('progression_chapitre',{idChapitre:chapitre.idChapitre,idCours:next.idCoursChapitre.idCours}) }}">
                                        <br>
                                        <input type="checkbox" class="checkbox-inline" style="margin: 0px;" required><label class=""> &nbsp;j'ai terminer ce chapitre</label><br><br>
                                        <input type="submit" class="btn-primary" value="Valider"><br><br>
                                        <legend></legend>
                                    </form>
                                </div>
                            </div>
                        {% else %}

                            <div class="col-md-10 col-md-offset-1"id="Suivant">

                                <legend></legend>
                                <form action="{{ path('progression_cours',{idCours:chapitre.idCoursChapitre.idCours,idChapitre:chapitre.idChapitre}) }} " id="terminer">
                                    <input type="checkbox" class="checkbox-inline" style="margin: 0px;" required><label class=""> &nbsp;j'ai terminé ce cours</label><br><br>
                                    <input type="submit" class="btn-primary" value="Terminer"><br><br>
                                    <legend></legend>
                                </form>
                            </div>
                        {% endif %}
                    {% else  %}
                        <br><br>
                        <div class="col-md-10 " id="telechargement">
                            <br><br><br>
                            <div class="alert alert-warning">
                                Vous avez déja terminé ce cours...
                            </div><br><br>
                            <a href=""  data-toggle="modal" data-target="#myModal"   class="btn-primary"> Quizz</a> 
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="btn-primary"> Telecharger</a>

                            <div id="collapse-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <i class="fa fa-file-text" ></i>&nbsp;&nbsp;<a href="{{asset('uploads/chapitre/pdfFile/' ~ chapitre.cheminChapitre )}} " style="    color: #2196F3;" >{{ chapitre.titreChapitre }}&nbsp;&nbsp;<small>PDF</small>   </a><br>
                                    <i class="fa fa-file-o" ></i>&nbsp;&nbsp;<a href="{{asset('uploads/chapitre/presentation/' ~ chapitre.cheminPresentationChapitre )}}" style="    color: #2196F3;" >{{ chapitre.titreChapitre }} &nbsp;&nbsp;<small>Power point</small>  </a><br>
                                    <i class="fa fa-video-camera" ></i>&nbsp;&nbsp;<a href="{{asset('uploads/video/chapitre/' ~ chapitre.cheminVideoChapitre )}}" style="    color: #2196F3;" >{{ chapitre.titreChapitre }} &nbsp;&nbsp;<small>MP4</small>  </a>
                                </div>
                            </div>
                            <br><br><br>
                            {% if next is not null %}
                                <a  href="{{ path('afficher_chapitre',{idChapitre:next.idChapitre,idCours:chapitre.idCoursChapitre.idCours}) }}" class="btn-primary"> Suivant</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="media col-md-10">
                    <h1 id="comments_title"></h1>
                    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id':chapitre.idChapitre} %}
                </div><!--/.col-md-8-->
            </div>
            <aside class="col-md-4" style="background-color: #F3F3F3; padding: 15px; border-radius: 15px;">
                <div style="margin-top: -210px">
                </div>
                <div class="widget search">
                    <form role="form" action="{{ path('chercher_cours') }}" method="POST">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here" name="titre">
                    </form>
                </div><!--/.search-->
                <div class="widget search" style="    margin-top: 0px;">
                    {%if app.user%}
                        {% if progression is null %}
                            <a href="" onclick="return false;"  disbled class="btn-primary" style="background-color: #526565;" title="Vous devez  d'abord terminer ce chapitre"> Telecharger</a>
                            <a href="#Suivant"   class="btn-primary"> Terminer ?</a>
                        {% else %}
                            <a href="#telechargement" class="btn-primary"> Telecharger</a><br><br><br>
                            {% if next is not null %}
                                <a  href="{{ path('afficher_chapitre',{idChapitre:next.idChapitre,idCours:chapitre.idCoursChapitre.idCours}) }}" class="btn-primary"> Suivant</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <input type = "button" class="btn-primary" id = "clickme" value="Telecharger"/><br><br>
                        <div id = "alert_placeholder" ></div>
                        <script>
                            bootstrap_alert = function () {
                            }
                            bootstrap_alert.warning = function (message) {
                                $('#alert_placeholder').html('\
                        <div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
                            }

                            $('#clickme').on('click', function () {
                                bootstrap_alert.warning('Inscrivez vous  <a href="{{ path('fos_user_security_login') }}"><strong>cliquez içi</strong></a>  ');
                            });
                        </script>​
                    {% endif %}
                </div><!--/.search-->

                <div class="widget categories">
                    <h3>Recent Chapters</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            {% for chap in chapitres %}
                                <div class="single_comments">
                                    <img src="{{asset ('uploads/discipline/logo/' ~ chap.idCoursChapitre.idDisciplineCours.logo )}}" alt=""  height="42" width="42">
                                    <p>     {{ chap.titreChapitre }}
                                        <i class="
                                           {% if progressions is not null %}
                                               {% for progression in progressions %}
                                                   {% if progression is not null %}
                                                       {% if progression.idChapitreProgression.idChapitre==chap.idChapitre %}
                                                           fa fa-check
                                                       {% endif %}
                                                   {% endif %}
                                               {% endfor %}
                                           {% endif %}
                                           ">
                                        </i>
                                    </p>
                                    <div class="entry-meta small muted">
                                        <span>By <a href="{{ path('fos_user_profile_show_with_id',{id:chap.idCoursChapitre.idFormateurCours.id }) }}">{{ chap.idCoursChapitre.idFormateurCours.username }}</a></span>On <a href="{{ path('esprit_mooc_details_cours',{idCours:chap.idCoursChapitre.idCours})}}">{{ chap.idCoursChapitre.titreCours }}</a>
                                    </div>
                                </div>
                            {% endfor %}



                        </div>
                    </div>                     
                </div><!--/.recent comments-->


                <div class="widget categories">
                    <h3>Categories</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="blog_category">
                                {% for discipline in disciplines %}
                                    <li><a href="{{ path('cours_by_discipline',{idDiscipline:discipline.idDiscipline}) }}">{{ discipline.nomDiscipline[:10]~'...' }} <span class="badge">{{discipline.nombreCours}}</span></a></li>
                                        {% endfor %}
                            </ul>
                        </div>
                    </div>                     
                </div><!--/.categories-->

                <div class="widget archieve">
                    <h3>Archieve</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="blog_archieve">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> December 2013 <span class="pull-right">(97)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2013 <span class="pull-right">(32)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2013 <span class="pull-right">(19)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2013 <span class="pull-right">(08)</span></a></li>
                            </ul>
                        </div>
                    </div>                     
                </div><!--/.archieve-->

                <div class="widget tags">
                    <h3>Tag Cloud</h3>
                    <ul class="tag-cloud">
                        <li><a class="btn btn-xs btn-primary" href="#">Apple</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Barcelona</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Office</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Ipod</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Stock</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Race</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">London</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Football</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Porche</a></li>
                        <li><a class="btn btn-xs btn-primary" href="#">Gadgets</a></li>
                    </ul>
                </div><!--/.tags-->

                <div class="widget blog_gallery">
                    <h3>Our Gallery</h3>
                    <ul class="sidebar-gallery">
                        {#                        <li><a href="#"><img src="images/blog/gallery1.png" alt=""></a></li>#}
                    </ul>
                </div><!--/.blog_gallery-->


            </aside>

        </div><!--/.row-->

    </div><!--/.blog-->

</section><!--/#blog-->

{% endblock %}