{% extends "EspritMoocBundle::Layout.html.twig" %}
{% block titre %}Quizz Cours {% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="portfolio">
        <div class="container" id="wrap">
            <div class="row">

                <fieldset class="scheduler-border">
                    <div class="col-md-6 col-md-offset-3">

                        <form action="{{ path("quizz_cours",{idCours:cours.idCours}) }}" method="post" class="form"><legend><b> Ajouter Quizz Cours</b></legend>.
                            {{ form_widget(form.titreQuizzCours, {'attr': {'class': 'form-control input-lg','placeholder':'Titre Quizz'}}) }}<br>
                            {{ form_widget(form.descriptionQuizzCours, {'attr': {'class': 'form-control input-lg','placeholder':'description'}}) }}<br>
                            <select class="form-control input-lg"  name="niveauQuizz">
                                <option value="Facile">Facile</option>
                                <option value="Moyenne">Moyenne</option>
                                <option value="Difficile">Difficile</option>
                                <option value="Extreme">Extreme</option>
                            </select><br>
                            {{ form_widget(form.duree, {'attr': {'class': 'form-control input-lg','placeholder':'durée de Quizz en Minutes'}}) }}<br>
                            {{ form_widget(form.idCoursQuizzCours, {'attr': {'class': 'form-control input-lg', 'readonly':'true', 'placeholder':'email'}}) }}<br><br><br><br>
                            <div>
                                <input type="submit" value="Suivant" class='btn-primary' />
                            </div>
                            {{ form_widget(form._token) }} {{ form_end(form, {'render_rest': false}) }}

                        </form>

                    </div>
                </fieldset>
            </div>            
        </div>
    </section>
{% endblock content %}