{% extends "EspritMoocBundle::Layout.html.twig" %}

{% block content %}

    <section id="portfolio">
        <div class="container" id="wrap">
            <div class="row">

                <fieldset class="scheduler-border">
                    <div class="col-md-10 col-md-offset-1">
                        <form action="" method="post" class="form" accept-charset="ISO-8859-1"><legend><b> Correction du  Quizz:</b>  {{ quizz.titreQuizzEntrainement }}</legend>
                                    {%set  i=0 %}
                                    {% set j=0 %}
                                    {%  for q in question %} <br><br>
                                {% set j=0 %}
                                {% set  i=i+1%}
                                <div class="col-md-8 col-md-offset-2">
                                    <legend><b> Question {{ i }}: </b>    </legend> <u>{{ q.texteQuestion }} </u><br><br><br>
                                        {% for r in reponse %}
                                            {% if q.idQuestion == r.idQuestionReponse.idQuestion %}
                                                {% set  j=j+1 %}
                                                {% if r.etatReponse=='vrai'%}
                                                <div class="alert alert-success">                                 
                                                    {#   <input type="checkbox" id="remember_me" name="checkbox{{ i }}{{ j }}" value="{{ r.etatReponse }}" class="" />#}
                                                    <input type="text" name="reponse{{i}}{{j}}" value="{{ r.texteReponse }}" hidden>{{ r.texteReponse }} <br>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-danger">
                                                    {#<input type="checkbox" id="remember_me" name="checkbox{{ i }}{{ j }}" value="{{ r.etatReponse }}" class="" /> #}
                                                    <input type="text" name="reponse{{i}}{{j}}" value="{{ r.texteReponse }}" hidden>{{ r.texteReponse }} <br>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <div class="alert alert-info"><legend>Explication</legend><br>{{ q.explication |raw}}</div>
                                </div>
                            {% endfor %}
                            <br>
                            <input type="text"   name="nombreQuestion" value="{{ i }}" class=" "hidden ><br>
                            <input type="text"  name="nombreReponse" value="{{ j }}"  class=" "hidden><br>
                            <br>
                            <br>
                            <div>
                                {#<input type="submit" value="Suivant" class='btn-primary' />#}
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>            
        </div>
    </section>
{% endblock content %}